:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contact-btn {
  width: 140px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  text-align: center;
  padding: 8px 0;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-block;
}

.contact-btn:hover {
  background-color: #d7ecf6 !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}


/* Цвета кнопок */
.contact-btn.telegram {
  color: #0088cc;
}

.contact-btn.whatsapp {
  color: #25d366;
}

.contact-btn.vk {
  color: #4a76a8;
}

.contact-btn.linkedin {
  color: #0A66C2;
}

.release-soon {
  font-size: 0.9rem;
  color: #888;
  font-weight: 500;
}

.release-icon {
  font-size: 1.2rem;
  color: #1e6078;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* Основной фирменный цвет текста (заголовков) */
.text-brand {
  color: #1e6078;
}

/* Цвет ссылок в меню */
.nav-link-custom {
  color: #0785f6 !important;
  text-decoration: none;
}

/* Убрать подчеркивание ссылок в футере */
.footer-menu a {
  color: #0785f6;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-menu a:hover {
  text-decoration: underline;
}

/* Для одиночных блоков на всю ширину */
.full-width-block {
  width: 100%;
  max-width: 100%;
}